<%- include('./partials/navbar.ejs') %>
<div class="register-content">
  <h1>Login Form</h1>
  <h2><%= salah %></h2>
  <form action="/login" method="POST">
    <label for="username">Username</label>
    <input type="text" name="username">
    <label for="password">Password</label>
    <input type="password" name="password">
    <button type="submit">Login</button>
  </form>
</div>
<%- include('./partials/bottom.ejs') %>